button {
  padding: 12px 20px;
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #fff;
  border: none;
  background-color: black;
  cursor: pointer;
  border-radius: 8px;
}

ul {
  padding: 10px 10px 10px 0px;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  align-items: center;
  opacity: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  color: #fff;
}
